In [102]:
using CSV
using DataFrames
using RollingFunctions
using StatsBase
using ShiftedArrays

In [116]:
df = DataFrame(CSV.File("Adult.csv", missingstring="?"))

48842×15 DataFrame
   Row │ age    workclass         fnlwgt  education     education_num  marital ⋯
       │ Int64  String31?         Int64   String15      Int64          String3 ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │    25  Private           226802  11th                      7  Never-m ⋯
     2 │    38  Private            89814  HS-grad                   9  Married
     3 │    28  Local-gov         336951  Assoc-acdm               12  Married
     4 │    44  Private           160323  Some-college             10  Married
     5 │    18  missing           103497  Some-college             10  Never-m ⋯
     6 │    34  Private           198693  10th                      6  Never-m
     7 │    29  missing           227026  HS-grad                   9  Never-m
     8 │    63  Self-emp-not-inc  104626  Prof-school              15  Married
     9 │    24  Private           369667  Some-college             10  Never-m ⋯
    10 │    55  Private           104996  7th-8th                   4  Married
    11 │    65  Private           184454  HS-grad                   9  Married
   ⋮   │   ⋮           ⋮            ⋮          ⋮              ⋮                ⋱
 48833 │    32  Private            34066  10th                      6  Married
 48834 │    43  Private            84661  Assoc-voc                11  Married ⋯
 48835 │    32  Private           116138  Masters                  14  Never-m
 48836 │    53  Private           321865  Masters                  14  Married
 48837 │    22  Private           310152  Some-college             10  Never-m
 48838 │    27  Private           257302  Assoc-acdm               12  Married ⋯
 48839 │    40  Private           154374  HS-grad                   9  Married
 48840 │    58  Private           151910  HS-grad                   9  Widowed
 48841 │    22  Private           201490  HS-grad                   9  Never-m
 48842 │    52  Self-emp-inc      287927  HS-grad                   9  Married ⋯
                                               10 columns and 48821 rows omitted

In [33]:
describe(df)
totals = describe(df, sum => :sum)

15×2 DataFrame
 Row │ variable       sum
     │ Symbol         Union…
─────┼───────────────────────────
   1 │ Age            1887430
   2 │ Type_Employer
   3 │ fnlwgt         9263575662
   4 │ Education
   5 │ Education_num  492234
   6 │ Marital
   7 │ occupation
   8 │ Relationship
   9 │ Race
  10 │ sex
  11 │ Capital_gain   52703821
  12 │ Capital_loss   4273788
  13 │ Hour_per_week  1974310
  14 │ Country
  15 │ Income

In [27]:
fnlwgt = totals[3, 2]

9263575662

In [28]:
factor = 260_737_999.0/fnlwgt

0.02814658275740869

In [30]:
describe(df)

15×7 DataFrame
 Row │ variable        mean       min                 median     max           ⋯
     │ Symbol          Union…     Any                 Union…     Any           ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ age             38.6436    17                  37.0       90            ⋯
   2 │ workclass                  ?                              Without-pay
   3 │ fnlwgt          1.89664e5  12285               1.78144e5  1490400
   4 │ education                  10th                           Some-college
   5 │ education_num   10.0781    1                   10.0       16            ⋯
   6 │ marital_status             Divorced                       Widowed
   7 │ occupation                 ?                              Transport-mov
   8 │ relationship               Husband                        Wife
   9 │ race                       Amer-Indian-Eskimo             White         ⋯
  10 │ sex                        Female                         Male
  11 │ capital_gain    1079.07    0                   0.0        99999
  12 │ capital_loss    87.5023    0                   0.0        4356
  13 │ hours_per_week  40.4224    1                   40.0       99            ⋯
  14 │ native_country             ?                              Yugoslavia
  15 │ class                      <=50K                          >50K
                                                               3 columns omitted

In [31]:
12285 * factor

345.7807691747658

In [35]:
first(df,5)

5×15 DataFrame
 Row │ age    workclass  fnlwgt  education     education_num  marital_status   ⋯
     │ Int64  String31   Int64   String15      Int64          String31         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    25  Private    226802  11th                      7  Never-married    ⋯
   2 │    38  Private     89814  HS-grad                   9  Married-civ-spou
   3 │    28  Local-gov  336951  Assoc-acdm               12  Married-civ-spou
   4 │    44  Private    160323  Some-college             10  Married-civ-spou
   5 │    18  ?          103497  Some-college             10  Never-married    ⋯
                                                              10 columns omitted

In [36]:
last(df,5)

5×15 DataFrame
 Row │ age    workclass     fnlwgt  education   education_num  marital_status  ⋯
     │ Int64  String31      Int64   String15    Int64          String31        ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    27  Private       257302  Assoc-acdm             12  Married-civ-spo ⋯
   2 │    40  Private       154374  HS-grad                 9  Married-civ-spo
   3 │    58  Private       151910  HS-grad                 9  Widowed
   4 │    22  Private       201490  HS-grad                 9  Never-married
   5 │    52  Self-emp-inc  287927  HS-grad                 9  Married-civ-spo ⋯
                                                              10 columns omitted

In [37]:
unique(df)

48790×15 DataFrame
   Row │ age    workclass         fnlwgt  education     education_num  marital ⋯
       │ Int64  String31          Int64   String15      Int64          String3 ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │    25  Private           226802  11th                      7  Never-m ⋯
     2 │    38  Private            89814  HS-grad                   9  Married
     3 │    28  Local-gov         336951  Assoc-acdm               12  Married
     4 │    44  Private           160323  Some-college             10  Married
     5 │    18  ?                 103497  Some-college             10  Never-m ⋯
     6 │    34  Private           198693  10th                      6  Never-m
     7 │    29  ?                 227026  HS-grad                   9  Never-m
     8 │    63  Self-emp-not-inc  104626  Prof-school              15  Married
     9 │    24  Private           369667  Some-college             10  Never-m ⋯
    10 │    55  Private           104996  7th-8th                   4  Married
    11 │    65  Private           184454  HS-grad                   9  Married
   ⋮   │   ⋮           ⋮            ⋮          ⋮              ⋮                ⋱
 48781 │    32  Private            34066  10th                      6  Married
 48782 │    43  Private            84661  Assoc-voc                11  Married ⋯
 48783 │    32  Private           116138  Masters                  14  Never-m
 48784 │    53  Private           321865  Masters                  14  Married
 48785 │    22  Private           310152  Some-college             10  Never-m
 48786 │    27  Private           257302  Assoc-acdm               12  Married ⋯
 48787 │    40  Private           154374  HS-grad                   9  Married
 48788 │    58  Private           151910  HS-grad                   9  Widowed
 48789 │    22  Private           201490  HS-grad                   9  Never-m
 48790 │    52  Self-emp-inc      287927  HS-grad                   9  Married ⋯
                                               10 columns and 48769 rows omitted

In [41]:
filter(:age => ==(24), df)

1206×15 DataFrame
  Row │ age    workclass         fnlwgt  education     education_num  marital_ ⋯
      │ Int64  String31          Int64   String15      Int64          String31 ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │    24  Private           369667  Some-college             10  Never-ma ⋯
    2 │    24  Self-emp-not-inc  188274  Bachelors                13  Never-ma
    3 │    24  Private            83141  Some-college             10  Separate
    4 │    24  Federal-gov       228724  Some-college             10  Never-ma
    5 │    24  Private           247846  HS-grad                   9  Never-ma ⋯
    6 │    24  Private           325596  Assoc-voc                11  Married-
    7 │    24  Private           313956  Bachelors                13  Married-
    8 │    24  Private           224238  Bachelors                13  Never-ma
    9 │    24  Private           279175  HS-grad                   9  Married- ⋯
   10 │    24  Private           154835  HS-grad                   9  Never-ma
   11 │    24  Private           183772  HS-grad                   9  Never-ma
  ⋮   │   ⋮           ⋮            ⋮          ⋮              ⋮                 ⋱
 1197 │    24  Private           128477  Masters                  14  Never-ma
 1198 │    24  Private           206008  Assoc-acdm               12  Never-ma ⋯
 1199 │    24  Private            34568  Assoc-voc                11  Never-ma
 1200 │    24  Private           427686  1st-4th                   2  Married-
 1201 │    24  Private           118657  12th                      8  Married-
 1202 │    24  Private           176580  5th-6th                   3  Married- ⋯
 1203 │    24  Private           222005  HS-grad                   9  Never-ma
 1204 │    24  Private           284317  Bachelors                13  Never-ma
 1205 │    24  Private           216984  Some-college             10  Married-
 1206 │    24  Private           381895  11th                      7  Divorced ⋯
                                                10 columns and 1185 rows omitted

In [45]:
subset(df, :education => x -> x .=="Bachelors")

8025×15 DataFrame
  Row │ age    workclass         fnlwgt  education  education_num  marital_sta ⋯
      │ Int64  String31          Int64   String15   Int64          String31    ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │    36  Federal-gov       212465  Bachelors             13  Married-civ ⋯
    2 │    34  Private           107914  Bachelors             13  Married-civ
    3 │    25  Private           220931  Bachelors             13  Never-marri
    4 │    25  Private           205947  Bachelors             13  Married-civ
    5 │    24  Self-emp-not-inc  188274  Bachelors             13  Never-marri ⋯
    6 │    36  Local-gov         403681  Bachelors             13  Married-civ
    7 │    34  Local-gov         382078  Bachelors             13  Married-civ
    8 │    30  Private           101135  Bachelors             13  Never-marri
    9 │    41  Private           109912  Bachelors             13  Never-marri ⋯
   10 │    23  Private           213734  Bachelors             13  Never-marri
   11 │    59  Private           292946  Bachelors             13  Never-marri
  ⋮   │   ⋮           ⋮            ⋮         ⋮            ⋮                ⋮   ⋱
 8016 │    24  Private           284317  Bachelors             13  Never-marri
 8017 │    45  Self-emp-inc      173664  Bachelors             13  Married-civ ⋯
 8018 │    35  Local-gov          79649  Bachelors             13  Married-civ
 8019 │    50  Private           302372  Bachelors             13  Married-civ
 8020 │    25  Local-gov         514716  Bachelors             13  Never-marri
 8021 │    35  ?                 320084  Bachelors             13  Married-civ ⋯
 8022 │    30  ?                  33811  Bachelors             13  Never-marri
 8023 │    54  Private           337992  Bachelors             13  Married-civ
 8024 │    34  Private           160216  Bachelors             13  Never-marri
 8025 │    38  Private           139180  Bachelors             13  Divorced    ⋯
                                                10 columns and 8004 rows omitted

In [46]:
df[6:10, :]

5×15 DataFrame
 Row │ age    workclass         fnlwgt  education     education_num  marital_s ⋯
     │ Int64  String31          Int64   String15      Int64          String31  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    34  Private           198693  10th                      6  Never-mar ⋯
   2 │    29  ?                 227026  HS-grad                   9  Never-mar
   3 │    63  Self-emp-not-inc  104626  Prof-school              15  Married-c
   4 │    24  Private           369667  Some-college             10  Never-mar
   5 │    55  Private           104996  7th-8th                   4  Married-c ⋯
                                                              10 columns omitted

In [50]:
df[df.marital_status .== "Never-married", :]

16117×15 DataFrame
   Row │ age    workclass         fnlwgt  education     education_num  marital ⋯
       │ Int64  String31          Int64   String15      Int64          String3 ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │    25  Private           226802  11th                      7  Never-m ⋯
     2 │    18  ?                 103497  Some-college             10  Never-m
     3 │    34  Private           198693  10th                      6  Never-m
     4 │    29  ?                 227026  HS-grad                   9  Never-m
     5 │    24  Private           369667  Some-college             10  Never-m ⋯
     6 │    26  Private            82091  HS-grad                   9  Never-m
     7 │    20  State-gov         444554  Some-college             10  Never-m
     8 │    34  Private           238588  Some-college             10  Never-m
     9 │    25  Private           220931  Bachelors                13  Never-m ⋯
    10 │    22  Private           236427  HS-grad                   9  Never-m
    11 │    32  Self-emp-not-inc  109282  Some-college             10  Never-m
   ⋮   │   ⋮           ⋮            ⋮          ⋮              ⋮              ⋮ ⋱
 16108 │    26  Private           191648  Assoc-acdm               12  Never-m
 16109 │    22  Private           203715  Some-college             10  Never-m ⋯
 16110 │    30  ?                  33811  Bachelors                13  Never-m
 16111 │    22  Private           325033  12th                      8  Never-m
 16112 │    34  Private           160216  Bachelors                13  Never-m
 16113 │    30  Private           345898  HS-grad                   9  Never-m ⋯
 16114 │    65  Self-emp-not-inc   99359  Prof-school              15  Never-m
 16115 │    32  Private           116138  Masters                  14  Never-m
 16116 │    22  Private           310152  Some-college             10  Never-m
 16117 │    22  Private           201490  HS-grad                   9  Never-m ⋯
                                               10 columns and 16096 rows omitted

In [53]:
df[findfirst(==(30), df.age), :]

DataFrameRow
 Row │ age    workclass  fnlwgt  education  education_num  marital_status  occ ⋯
     │ Int64  String31   Int64   String15   Int64          String31        Str ⋯
─────┼──────────────────────────────────────────────────────────────────────────
  61 │    30  Private    101135  Bachelors             13  Never-married   Exe ⋯
                                                               9 columns omitted

In [57]:
df[findall(==(30), df.age), :]

1278×15 DataFrame
  Row │ age    workclass         fnlwgt  education     education_num  marital_ ⋯
      │ Int64  String31          Int64   String15      Int64          String31 ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │    30  Private           101135  Bachelors                13  Never-ma ⋯
    2 │    30  Private           229636  HS-grad                   9  Married-
    3 │    30  Private           142921  Assoc-acdm               12  Never-ma
    4 │    30  State-gov         260782  HS-grad                   9  Never-ma
    5 │    30  Private           296462  HS-grad                   9  Never-ma ⋯
    6 │    30  Private           236543  9th                       5  Married-
    7 │    30  Private           238186  HS-grad                   9  Married-
    8 │    30  Private           169269  11th                      7  Never-ma
    9 │    30  Private           446894  HS-grad                   9  Married- ⋯
   10 │    30  Local-gov         176992  HS-grad                   9  Married-
   11 │    30  Private           113453  Masters                  14  Married-
  ⋮   │   ⋮           ⋮            ⋮          ⋮              ⋮                 ⋱
 1269 │    30  Private           215441  Some-college             10  Never-ma
 1270 │    30  Private            33678  HS-grad                   9  Never-ma ⋯
 1271 │    30  Never-worked      176673  HS-grad                   9  Married-
 1272 │    30  Private           205152  Bachelors                13  Never-ma
 1273 │    30  Self-emp-not-inc  176185  Some-college             10  Married-
 1274 │    30  Self-emp-not-inc  261943  11th                      7  Married- ⋯
 1275 │    30  Private           176175  Assoc-voc                11  Divorced
 1276 │    30  Private            77266  HS-grad                   9  Divorced
 1277 │    30  ?                  33811  Bachelors                13  Never-ma
 1278 │    30  Private           345898  HS-grad                   9  Never-ma ⋯
                                                10 columns and 1257 rows omitted

In [60]:
select(df, :occupation)

48842×1 DataFrame
   Row │ occupation
       │ String31
───────┼───────────────────
     1 │ Machine-op-inspct
     2 │ Farming-fishing
     3 │ Protective-serv
     4 │ Machine-op-inspct
     5 │ ?
     6 │ Other-service
     7 │ ?
     8 │ Prof-specialty
     9 │ Other-service
    10 │ Craft-repair
    11 │ Machine-op-inspct
   ⋮   │         ⋮
 48833 │ Handlers-cleaners
 48834 │ Sales
 48835 │ Tech-support
 48836 │ Exec-managerial
 48837 │ Protective-serv
 48838 │ Tech-support
 48839 │ Machine-op-inspct
 48840 │ Adm-clerical
 48841 │ Adm-clerical
 48842 │ Exec-managerial
         48821 rows omitted

In [61]:
select(df, "occupation")

48842×1 DataFrame
   Row │ occupation
       │ String31
───────┼───────────────────
     1 │ Machine-op-inspct
     2 │ Farming-fishing
     3 │ Protective-serv
     4 │ Machine-op-inspct
     5 │ ?
     6 │ Other-service
     7 │ ?
     8 │ Prof-specialty
     9 │ Other-service
    10 │ Craft-repair
    11 │ Machine-op-inspct
   ⋮   │         ⋮
 48833 │ Handlers-cleaners
 48834 │ Sales
 48835 │ Tech-support
 48836 │ Exec-managerial
 48837 │ Protective-serv
 48838 │ Tech-support
 48839 │ Machine-op-inspct
 48840 │ Adm-clerical
 48841 │ Adm-clerical
 48842 │ Exec-managerial
         48821 rows omitted

In [62]:
select(df, [:occupation, :class])

48842×2 DataFrame
   Row │ occupation         class
       │ String31           String7
───────┼────────────────────────────
     1 │ Machine-op-inspct  <=50K
     2 │ Farming-fishing    <=50K
     3 │ Protective-serv    >50K
     4 │ Machine-op-inspct  >50K
     5 │ ?                  <=50K
     6 │ Other-service      <=50K
     7 │ ?                  <=50K
     8 │ Prof-specialty     >50K
     9 │ Other-service      <=50K
    10 │ Craft-repair       <=50K
    11 │ Machine-op-inspct  >50K
   ⋮   │         ⋮             ⋮
 48833 │ Handlers-cleaners  <=50K
 48834 │ Sales              <=50K
 48835 │ Tech-support       <=50K
 48836 │ Exec-managerial    >50K
 48837 │ Protective-serv    <=50K
 48838 │ Tech-support       <=50K
 48839 │ Machine-op-inspct  >50K
 48840 │ Adm-clerical       <=50K
 48841 │ Adm-clerical       <=50K
 48842 │ Exec-managerial    >50K
                  48821 rows omitted

In [65]:
select(df, 2:5)

48842×4 DataFrame
   Row │ workclass         fnlwgt  education     education_num
       │ String31          Int64   String15      Int64
───────┼───────────────────────────────────────────────────────
     1 │ Private           226802  11th                      7
     2 │ Private            89814  HS-grad                   9
     3 │ Local-gov         336951  Assoc-acdm               12
     4 │ Private           160323  Some-college             10
     5 │ ?                 103497  Some-college             10
     6 │ Private           198693  10th                      6
     7 │ ?                 227026  HS-grad                   9
     8 │ Self-emp-not-inc  104626  Prof-school              15
     9 │ Private           369667  Some-college             10
    10 │ Private           104996  7th-8th                   4
    11 │ Private           184454  HS-grad                   9
   ⋮   │        ⋮            ⋮          ⋮              ⋮
 48833 │ Private            34066  10th                      6
 48834 │ Private            84661  Assoc-voc                11
 48835 │ Private           116138  Masters                  14
 48836 │ Private           321865  Masters                  14
 48837 │ Private           310152  Some-college             10
 48838 │ Private           257302  Assoc-acdm               12
 48839 │ Private           154374  HS-grad                   9
 48840 │ Private           151910  HS-grad                   9
 48841 │ Private           201490  HS-grad                   9
 48842 │ Self-emp-inc      287927  HS-grad                   9
                                             48821 rows omitted

In [66]:
select(df, r"^o")

48842×1 DataFrame
   Row │ occupation
       │ String31
───────┼───────────────────
     1 │ Machine-op-inspct
     2 │ Farming-fishing
     3 │ Protective-serv
     4 │ Machine-op-inspct
     5 │ ?
     6 │ Other-service
     7 │ ?
     8 │ Prof-specialty
     9 │ Other-service
    10 │ Craft-repair
    11 │ Machine-op-inspct
   ⋮   │         ⋮
 48833 │ Handlers-cleaners
 48834 │ Sales
 48835 │ Tech-support
 48836 │ Exec-managerial
 48837 │ Protective-serv
 48838 │ Tech-support
 48839 │ Machine-op-inspct
 48840 │ Adm-clerical
 48841 │ Adm-clerical
 48842 │ Exec-managerial
         48821 rows omitted

In [67]:
select(df, Not(:fnlwgt))

48842×14 DataFrame
   Row │ age    workclass         education     education_num  marital_status  ⋯
       │ Int64  String31          String15      Int64          String31        ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │    25  Private           11th                      7  Never-married   ⋯
     2 │    38  Private           HS-grad                   9  Married-civ-spo
     3 │    28  Local-gov         Assoc-acdm               12  Married-civ-spo
     4 │    44  Private           Some-college             10  Married-civ-spo
     5 │    18  ?                 Some-college             10  Never-married   ⋯
     6 │    34  Private           10th                      6  Never-married
     7 │    29  ?                 HS-grad                   9  Never-married
     8 │    63  Self-emp-not-inc  Prof-school              15  Married-civ-spo
     9 │    24  Private           Some-college             10  Never-married   ⋯
    10 │    55  Private           7th-8th                   4  Married-civ-spo
    11 │    65  Private           HS-grad                   9  Married-civ-spo
   ⋮   │   ⋮           ⋮               ⋮              ⋮                ⋮       ⋱
 48833 │    32  Private           10th                      6  Married-civ-spo
 48834 │    43  Private           Assoc-voc                11  Married-civ-spo ⋯
 48835 │    32  Private           Masters                  14  Never-married
 48836 │    53  Private           Masters                  14  Married-civ-spo
 48837 │    22  Private           Some-college             10  Never-married
 48838 │    27  Private           Assoc-acdm               12  Married-civ-spo ⋯
 48839 │    40  Private           HS-grad                   9  Married-civ-spo
 48840 │    58  Private           HS-grad                   9  Widowed
 48841 │    22  Private           HS-grad                   9  Never-married
 48842 │    52  Self-emp-inc      HS-grad                   9  Married-civ-spo ⋯
                                               10 columns and 48821 rows omitted

In [68]:
select(df, Between(:education,:race))

48842×6 DataFrame
   Row │ education     education_num  marital_status      occupation         r ⋯
       │ String15      Int64          String31            String31           S ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │ 11th                      7  Never-married       Machine-op-inspct  O ⋯
     2 │ HS-grad                   9  Married-civ-spouse  Farming-fishing    H
     3 │ Assoc-acdm               12  Married-civ-spouse  Protective-serv    H
     4 │ Some-college             10  Married-civ-spouse  Machine-op-inspct  H
     5 │ Some-college             10  Never-married       ?                  O ⋯
     6 │ 10th                      6  Never-married       Other-service      N
     7 │ HS-grad                   9  Never-married       ?                  U
     8 │ Prof-school              15  Married-civ-spouse  Prof-specialty     H
     9 │ Some-college             10  Never-married       Other-service      U ⋯
    10 │ 7th-8th                   4  Married-civ-spouse  Craft-repair       H
    11 │ HS-grad                   9  Married-civ-spouse  Machine-op-inspct  H
   ⋮   │      ⋮              ⋮                ⋮                   ⋮            ⋱
 48833 │ 10th                      6  Married-civ-spouse  Handlers-cleaners  H
 48834 │ Assoc-voc                11  Married-civ-spouse  Sales              H ⋯
 48835 │ Masters                  14  Never-married       Tech-support       N
 48836 │ Masters                  14  Married-civ-spouse  Exec-managerial    H
 48837 │ Some-college             10  Never-married       Protective-serv    N
 48838 │ Assoc-acdm               12  Married-civ-spouse  Tech-support       W ⋯
 48839 │ HS-grad                   9  Married-civ-spouse  Machine-op-inspct  H
 48840 │ HS-grad                   9  Widowed             Adm-clerical       U
 48841 │ HS-grad                   9  Never-married       Adm-clerical       O
 48842 │ HS-grad                   9  Married-civ-spouse  Exec-managerial    W ⋯
                                                2 columns and 48821 rows omitted

In [71]:
df[:,[:education, :occupation]]

48842×2 DataFrame
   Row │ education     occupation
       │ String15      String31
───────┼─────────────────────────────────
     1 │ 11th          Machine-op-inspct
     2 │ HS-grad       Farming-fishing
     3 │ Assoc-acdm    Protective-serv
     4 │ Some-college  Machine-op-inspct
     5 │ Some-college  ?
     6 │ 10th          Other-service
     7 │ HS-grad       ?
     8 │ Prof-school   Prof-specialty
     9 │ Some-college  Other-service
    10 │ 7th-8th       Craft-repair
    11 │ HS-grad       Machine-op-inspct
   ⋮   │      ⋮                ⋮
 48833 │ 10th          Handlers-cleaners
 48834 │ Assoc-voc     Sales
 48835 │ Masters       Tech-support
 48836 │ Masters       Exec-managerial
 48837 │ Some-college  Protective-serv
 48838 │ Assoc-acdm    Tech-support
 48839 │ HS-grad       Machine-op-inspct
 48840 │ HS-grad       Adm-clerical
 48841 │ HS-grad       Adm-clerical
 48842 │ HS-grad       Exec-managerial
                       48821 rows omitted

In [72]:
df[!,[:education, :occupation]]

48842×2 DataFrame
   Row │ education     occupation
       │ String15      String31
───────┼─────────────────────────────────
     1 │ 11th          Machine-op-inspct
     2 │ HS-grad       Farming-fishing
     3 │ Assoc-acdm    Protective-serv
     4 │ Some-college  Machine-op-inspct
     5 │ Some-college  ?
     6 │ 10th          Other-service
     7 │ HS-grad       ?
     8 │ Prof-school   Prof-specialty
     9 │ Some-college  Other-service
    10 │ 7th-8th       Craft-repair
    11 │ HS-grad       Machine-op-inspct
   ⋮   │      ⋮                ⋮
 48833 │ 10th          Handlers-cleaners
 48834 │ Assoc-voc     Sales
 48835 │ Masters       Tech-support
 48836 │ Masters       Exec-managerial
 48837 │ Some-college  Protective-serv
 48838 │ Assoc-acdm    Tech-support
 48839 │ HS-grad       Machine-op-inspct
 48840 │ HS-grad       Adm-clerical
 48841 │ HS-grad       Adm-clerical
 48842 │ HS-grad       Exec-managerial
                       48821 rows omitted

In [73]:
names(df)

15-element Vector{String}:
 "age"
 "workclass"
 "fnlwgt"
 "education"
 "education_num"
 "marital_status"
 "occupation"
 "relationship"
 "race"
 "sex"
 "capital_gain"
 "capital_loss"
 "hours_per_week"
 "native_country"
 "class"

In [74]:
propertynames(df)

15-element Vector{Symbol}:
 :age
 :workclass
 :fnlwgt
 :education
 :education_num
 :marital_status
 :occupation
 :relationship
 :race
 :sex
 :capital_gain
 :capital_loss
 :hours_per_week
 :native_country
 :class

In [75]:
columnindex(df, "occupation")

7

In [76]:
sort(df, :age)

48842×15 DataFrame
   Row │ age    workclass         fnlwgt  education     education_num  marital ⋯
       │ Int64  String31          Int64   String15      Int64          String3 ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │    17  Private           269430  10th                      6  Never-m ⋯
     2 │    17  ?                 165361  10th                      6  Never-m
     3 │    17  Private            40299  11th                      7  Never-m
     4 │    17  Private           190941  10th                      6  Never-m
     5 │    17  ?                 143331  11th                      7  Never-m ⋯
     6 │    17  Private            61838  11th                      7  Never-m
     7 │    17  Private            28544  11th                      7  Never-m
     8 │    17  Private            81010  11th                      7  Never-m
     9 │    17  Private           310885  7th-8th                   4  Never-m ⋯
    10 │    17  Private           129396  11th                      7  Never-m
    11 │    17  Private           272372  11th                      7  Never-m
   ⋮   │   ⋮           ⋮            ⋮          ⋮              ⋮                ⋱
 48833 │    90  Private           206667  Masters                  14  Married
 48834 │    90  Private            52386  Bachelors                13  Never-m ⋯
 48835 │    90  Self-emp-not-inc   82628  HS-grad                   9  Never-m
 48836 │    90  ?                 166343  1st-4th                   2  Widowed
 48837 │    90  ?                 175444  7th-8th                   4  Separat
 48838 │    90  Federal-gov       195433  HS-grad                   9  Married ⋯
 48839 │    90  Private            47929  HS-grad                   9  Married
 48840 │    90  ?                 313986  HS-grad                   9  Married
 48841 │    90  Private           313749  HS-grad                   9  Widowed
 48842 │    90  Local-gov         214594  7th-8th                   4  Married ⋯
                                               10 columns and 48821 rows omitted

In [78]:
sort(df, :age, rev=true)

48842×15 DataFrame
   Row │ age    workclass         fnlwgt  education     education_num  marital ⋯
       │ Int64  String31          Int64   String15      Int64          String3 ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │    90  Private           149069  Assoc-acdm               12  Married ⋯
     2 │    90  Self-emp-not-inc   83601  Prof-school              15  Widowed
     3 │    90  Private           250832  HS-grad                   9  Married
     4 │    90  Private           227796  Assoc-acdm               12  Never-m
     5 │    90  Self-emp-not-inc  122348  Prof-school              15  Married ⋯
     6 │    90  Federal-gov       311184  Masters                  14  Divorce
     7 │    90  Private           225063  HS-grad                   9  Married
     8 │    90  Local-gov         188242  HS-grad                   9  Never-m
     9 │    90  ?                  50746  10th                      6  Divorce ⋯
    10 │    90  Private           347074  Some-college             10  Never-m
    11 │    90  Private           272752  Some-college             10  Never-m
   ⋮   │   ⋮           ⋮            ⋮          ⋮              ⋮                ⋱
 48833 │    17  Private           277541  11th                      7  Never-m
 48834 │    17  Private           375657  11th                      7  Never-m ⋯
 48835 │    17  Private           309504  10th                      6  Never-m
 48836 │    17  Private           141590  11th                      7  Never-m
 48837 │    17  ?                 171461  10th                      6  Never-m
 48838 │    17  ?                 256173  10th                      6  Never-m ⋯
 48839 │    17  Private           214787  12th                      8  Never-m
 48840 │    17  Private            24090  HS-grad                   9  Never-m
 48841 │    17  Private           311907  11th                      7  Never-m
 48842 │    17  Private           117798  10th                      6  Never-m ⋯
                                               10 columns and 48821 rows omitted

In [81]:
sort(df, [:age, order(:occupation, rev = true)])

48842×15 DataFrame
   Row │ age    workclass  fnlwgt  education     education_num  marital_status ⋯
       │ Int64  String31   Int64   String15      Int64          String31       ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │    17  Private    355850  11th                      7  Never-married  ⋯
     2 │    17  Private    188949  11th                      7  Never-married
     3 │    17  Private    121470  12th                      8  Never-married
     4 │    17  Private    327127  11th                      7  Never-married
     5 │    17  Private    176467  9th                       5  Never-married  ⋯
     6 │    17  Private    132636  11th                      7  Never-married
     7 │    17  Private    186067  10th                      6  Never-married
     8 │    17  Private     40299  11th                      7  Never-married
     9 │    17  Private    190941  10th                      6  Never-married  ⋯
    10 │    17  Private     28544  11th                      7  Never-married
    11 │    17  Private     81010  11th                      7  Never-married
   ⋮   │   ⋮        ⋮        ⋮          ⋮              ⋮                ⋮      ⋱
 48833 │    90  Local-gov  187749  Assoc-acdm               12  Married-civ-sp
 48834 │    90  Private    313749  HS-grad                   9  Widowed        ⋯
 48835 │    90  ?           50746  10th                      6  Divorced
 48836 │    90  ?          256514  Bachelors                13  Widowed
 48837 │    90  ?           77053  HS-grad                   9  Widowed
 48838 │    90  ?           39824  HS-grad                   9  Widowed        ⋯
 48839 │    90  ?          225063  Some-college             10  Never-married
 48840 │    90  ?          166343  1st-4th                   2  Widowed
 48841 │    90  ?          175444  7th-8th                   4  Separated
 48842 │    90  ?          313986  HS-grad                   9  Married-civ-sp ⋯
                                               10 columns and 48821 rows omitted

In [84]:
select(df, :fnlwgt => cumprod)

48842×1 DataFrame
   Row │ fnlwgt_cumprod
       │ Int64
───────┼──────────────────────
     1 │               226802
     2 │          20369994828
     3 │     6863690127289428
     4 │ -6397252145150131716
     5 │ -5866973019955609380
     6 │ -2925260038489718836
     7 │ -8852100549340734120
     8 │ -4192366588190054608
     9 │  5177052181352691088
    10 │  -436786692203993024
    11 │  8325590167992209792
   ⋮   │          ⋮
 48833 │                    0
 48834 │                    0
 48835 │                    0
 48836 │                    0
 48837 │                    0
 48838 │                    0
 48839 │                    0
 48840 │                    0
 48841 │                    0
 48842 │                    0
            48821 rows omitted

In [86]:
select(df, :fnlwgt => v -> accumulate(min,v))

48842×1 DataFrame
   Row │ fnlwgt_function
       │ Int64
───────┼─────────────────
     1 │          226802
     2 │           89814
     3 │           89814
     4 │           89814
     5 │           89814
     6 │           89814
     7 │           89814
     8 │           89814
     9 │           89814
    10 │           89814
    11 │           89814
   ⋮   │        ⋮
 48833 │           12285
 48834 │           12285
 48835 │           12285
 48836 │           12285
 48837 │           12285
 48838 │           12285
 48839 │           12285
 48840 │           12285
 48841 │           12285
 48842 │           12285
       48821 rows omitted

In [87]:
select(df, :fnlwgt => v -> accumulate(max,v))

48842×1 DataFrame
   Row │ fnlwgt_function
       │ Int64
───────┼─────────────────
     1 │          226802
     2 │          226802
     3 │          336951
     4 │          336951
     5 │          336951
     6 │          336951
     7 │          336951
     8 │          336951
     9 │          369667
    10 │          369667
    11 │          369667
   ⋮   │        ⋮
 48833 │         1490400
 48834 │         1490400
 48835 │         1490400
 48836 │         1490400
 48837 │         1490400
 48838 │         1490400
 48839 │         1490400
 48840 │         1490400
 48841 │         1490400
 48842 │         1490400
       48821 rows omitted

In [88]:
select(df, :fnlwgt => v -> cumsum(v) ./ (1:length(v)))

48842×1 DataFrame
   Row │ fnlwgt_function
       │ Float64
───────┼─────────────────
     1 │  226802.0
     2 │  158308.0
     3 │       2.17856e5
     4 │       2.03472e5
     5 │       1.83477e5
     6 │       1.86013e5
     7 │       1.91872e5
     8 │       1.80966e5
     9 │       2.01933e5
    10 │       1.9224e5
    11 │       1.91532e5
   ⋮   │        ⋮
 48833 │       1.8966e5
 48834 │       1.89658e5
 48835 │       1.89657e5
 48836 │       1.8966e5
 48837 │  189662.0
 48838 │       1.89663e5
 48839 │       1.89663e5
 48840 │       1.89662e5
 48841 │       1.89662e5
 48842 │       1.89664e5
       48821 rows omitted

In [93]:
select(df, :fnlwgt =>(v -> runmean(v,10)))

48842×1 DataFrame
   Row │ fnlwgt_function
       │ Float64
───────┼─────────────────
     1 │  226802.0
     2 │  158308.0
     3 │       2.17856e5
     4 │       2.03472e5
     5 │       1.83477e5
     6 │       1.86013e5
     7 │       1.91872e5
     8 │       1.80966e5
     9 │       2.01933e5
    10 │       1.9224e5
    11 │       1.88005e5
   ⋮   │        ⋮
 48833 │       1.43574e5
 48834 │       1.39049e5
 48835 │       1.38743e5
 48836 │       1.50964e5
 48837 │       1.7083e5
 48838 │       1.76738e5
 48839 │       1.66099e5
 48840 │       1.71354e5
 48841 │  165920.0
 48842 │       1.91988e5
       48821 rows omitted

In [96]:
select(df, :fnlwgt =>(v -> runmax(v,10)))

48842×1 DataFrame
   Row │ fnlwgt_function
       │ Int64
───────┼─────────────────
     1 │          226802
     2 │          226802
     3 │          336951
     4 │          336951
     5 │          336951
     6 │          336951
     7 │          336951
     8 │          336951
     9 │          369667
    10 │          369667
    11 │          369667
   ⋮   │        ⋮
 48833 │          260761
 48834 │          260761
 48835 │          260761
 48836 │          321865
 48837 │          321865
 48838 │          321865
 48839 │          321865
 48840 │          321865
 48841 │          321865
 48842 │          321865
       48821 rows omitted

In [97]:
select(df, :fnlwgt => ordinalrank)

48842×1 DataFrame
   Row │ fnlwgt_ordinalrank
       │ Int64
───────┼────────────────────
     1 │              35166
     2 │               7149
     3 │              44431
     4 │              20001
     5 │               9240
     6 │              29930
     7 │              35212
     8 │               9501
     9 │              46036
    10 │               9567
    11 │              26000
   ⋮   │         ⋮
 48833 │               1588
 48834 │               6604
 48835 │              11867
 48836 │              43612
 48837 │              42880
 48838 │              38791
 48839 │              18858
 48840 │              18365
 48841 │              30641
 48842 │              41400
          48821 rows omitted

In [99]:
select(df, :fnlwgt => competerank)

48842×1 DataFrame
   Row │ fnlwgt_competerank
       │ Int64
───────┼────────────────────
     1 │              35166
     2 │               7149
     3 │              44431
     4 │              20001
     5 │               9240
     6 │              29930
     7 │              35212
     8 │               9501
     9 │              46036
    10 │               9567
    11 │              26000
   ⋮   │         ⋮
 48833 │               1587
 48834 │               6603
 48835 │              11865
 48836 │              43608
 48837 │              42878
 48838 │              38791
 48839 │              18848
 48840 │              18364
 48841 │              30639
 48842 │              41398
          48821 rows omitted

In [100]:
select(df, :fnlwgt => tiedrank)

48842×1 DataFrame
   Row │ fnlwgt_tiedrank
       │ Float64
───────┼─────────────────
     1 │         35166.0
     2 │          7149.0
     3 │         44432.5
     4 │         20001.5
     5 │          9240.0
     6 │         29930.0
     7 │         35212.5
     8 │          9501.0
     9 │         46036.0
    10 │          9569.0
    11 │         26000.0
   ⋮   │        ⋮
 48833 │          1587.5
 48834 │          6603.5
 48835 │         11866.0
 48836 │         43610.0
 48837 │         42879.0
 48838 │         38791.0
 48839 │         18853.0
 48840 │         18364.5
 48841 │         30640.0
 48842 │         41399.0
       48821 rows omitted

In [105]:
select(df, :fnlwgt => lag)

LoadError: UndefVarError: `lag` not defined

In [108]:
@pipe df |>
    filter(:sex => ==("Male"),_) |>
    groupby(_,:occupation) |>
    combine(_,:age => mean)

15×2 DataFrame
 Row │ occupation         age_mean
     │ String31           Float64
─────┼─────────────────────────────
   1 │ Machine-op-inspct   37.4378
   2 │ Farming-fishing     41.3964
   3 │ Protective-serv     39.3995
   4 │ ?                   43.3646
   5 │ Other-service       34.444
   6 │ Prof-specialty      41.6285
   7 │ Craft-repair        38.9639
   8 │ Adm-clerical        37.6069
   9 │ Exec-managerial     43.2312
  10 │ Tech-support        38.06
  11 │ Sales               39.7807
  12 │ Priv-house-serv     33.9286
  13 │ Transport-moving    40.7163
  14 │ Handlers-cleaners   32.3207
  15 │ Armed-Forces        31.4667

In [111]:
combine(df, :fnlwgt => sum)

1×1 DataFrame
 Row │ fnlwgt_sum
     │ Int64
─────┼────────────
   1 │ 9263575662

In [112]:
combine(df, :fnlwgt => sum)[1,1]

9263575662

In [113]:
combine(df, :fnlwgt => sum => :fnlwgt_total)

1×1 DataFrame
 Row │ fnlwgt_total
     │ Int64
─────┼──────────────
   1 │   9263575662

In [115]:
combine(df, :age => (x -> mean(skipmissing(x))))

1×1 DataFrame
 Row │ age_function
     │ Float64
─────┼──────────────
   1 │      38.6436

In [ ]:
combine(df, [