In [2]:
using CSV
using DataFrames

In [4]:
df = DataFrame(CSV.File("Adult.csv"))
describe(df)

15×7 DataFrame
 Row │ variable        mean       min                 median     max           ⋯
     │ Symbol          Union…     Any                 Union…     Any           ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ age             38.6436    17                  37.0       90            ⋯
   2 │ workclass                  ?                              Without-pay
   3 │ fnlwgt          1.89664e5  12285               1.78144e5  1490400
   4 │ education                  10th                           Some-college
   5 │ education_num   10.0781    1                   10.0       16            ⋯
   6 │ marital_status             Divorced                       Widowed
   7 │ occupation                 ?                              Transport-mov
   8 │ relationship               Husband                        Wife
   9 │ race                       Amer-Indian-Eskimo             White         ⋯
  10 │ sex                        Female                         Male
  11 │ capital_gain    1079.07    0                   0.0        99999
  12 │ capital_loss    87.5023    0                   0.0        4356
  13 │ hours_per_week  40.4224    1                   40.0       99            ⋯
  14 │ native_country             ?                              Yugoslavia
  15 │ class                      <=50K                          >50K
                                                               3 columns omitted

In [5]:
describe(df, extrema => :extrema)

15×2 DataFrame
 Row │ variable        extrema
     │ Symbol          Tuple…
─────┼───────────────────────────────────────────────────
   1 │ age             (17, 90)
   2 │ workclass       (String31("?"), String31("Withou…
   3 │ fnlwgt          (12285, 1490400)
   4 │ education       (String15("10th"), String15("Som…
   5 │ education_num   (1, 16)
   6 │ marital_status  (String31("Divorced"), String31(…
   7 │ occupation      (String31("?"), String31("Transp…
   8 │ relationship    (String15("Husband"), String15("…
   9 │ race            (String31("Amer-Indian-Eskimo"),…
  10 │ sex             (String7("Female"), String7("Mal…
  11 │ capital_gain    (0, 99999)
  12 │ capital_loss    (0, 4356)
  13 │ hours_per_week  (1, 99)
  14 │ native_country  (String31("?"), String31("Yugosl…
  15 │ class           (String7("<=50K"), String7(">50K…